body {
  padding-top: 70px;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}

@media (min-width: 1200px) {
    .container{
        max-width: 970px;

    }
}

.navbar {
  padding-right: 40px;
  padding-left: 40px;

}

#navbar-brand-image {
  height: 25px;
  background: #ffffff;
  padding: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  display: inline-block;
  margin-top: -3px;
}

