<nav class="navbar navbar-inverse navbar-fixed-top" ng-controller="NavbarCtrl">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" ng-href="#/">
        <img alt="FER" src="/apple-touch-icon.png" id="navbar-brand-image">
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
      <ul class="nav navbar-nav">
        <li ng-show="true" ng-class="{active: (currentState === 'home')}">
          <a ng-href="#/">Naslovnica</a>
        </li>
        <li ng-show="isAuthenticated" ng-class="{active: (currentState === 'travelorder')}">
          <a ng-href="#/travelorder">Moji putni nalozi</a>
        </li>
        <li ng-show="isAuthenticated" ng-class="{active: (currentState === 'travelorderform')}">
          <a ng-href="#/travelorderform">Novi putni nalog</a>
        </li>
        <li ng-show="isDean || isDepartmentHead" ng-class="{active: (currentState === 'travelorderenable')}">
          <a ng-href="#/travelorderenable">Odobri putne naloge</a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li ng-show="!isAuthenticated" ng-class="{active: (currentState === 'login')}">
          <a ng-href="#/login">Prijava</a>
        </li>
        <li ng-show="isAuthenticated">
          <a ng-click="logout()" style="cursor: pointer;">Odjava ({{user.firstName}} {{user.lastName}})</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
