<nav class="navbar navbar-inverse navbar-fixed-top" ng-controller="NavbarCtrl">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        <img alt="FER" src="/apple-touch-icon.png" id="navbar-brand-image">
        FER Putni nalozi
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
      <ul class="nav navbar-nav">
        <!-- <li class="active"><a ng-href="#">Home</a></li>
        <li><a ng-href="#">About</a></li>
        <li><a ng-href="#">Contact</a></li> -->
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a ng-href="#">Prijava</a></li>
      </ul>
    </div>
  </div>
</nav>
